body {
    font-family: 'PT Serif', serif;
}
.navrenk {
    background-color: #FF6347; 
}
.border-botton-dark {
    border-bottom: 1px solid #222222;
}


#karbox {
    height: 50vh;
    background-color: #FF6347;
    color: black;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.letter {
    position: absolute;
    top: -100px;
    animation: rain 5s linear infinite;
}

@keyframes rain {
    0% {
        top: -55px;
    }
    100% {
        top: 50vh;
    }
}
#writenav{
    background-color: bisque;
}
a{
    text-decoration: none;
}
p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
}
strong{
    color: black;
}
.menu{
    display: none;
}
