body {
    font-family: 'PT Serif', serif;
}
.navrenk {
    background-color: #ffc045; 
}
.border-botton-dark {
    border-bottom: 1px solid #222222;
}
.karbox {
    width: 100%;
    height: 50vh;
    
}